body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
    background: black;
    color: lightgray;
}

#right_mapview_container, #left_mapview_container {
    height: 89%;
    width: 50%;
    top: 10%;
    position: absolute;
    background: black;
}

#right_mapview_container {
    right: 0;
    display: none;  /* hide unless we're doing side-by-side */    
}

#left_mapview_container {
    left: 0;
}

.right-title, .left-title{
    width: 50%;
    z-index: 10;
    bottom: 30px;
    text-align: center;
    position: absolute;
}

.right-title {
    right: 0;
    background: grey;
}
.left-title {
    left: 0;
    background: grey;    
}

input, select {
    position: relative;
    max-width: 100%;
}

#page-tools{
    display: grid;
    grid-template-columns: auto auto;
}

.blinkfade.controls {
    display: none;    
}

#review-form {
    display: none;    
}

#signin-form {
    top: 10%;
}

#main-content {
    top: 10%;
    position: absolute;
    height: 90%;
}

#page-tools {
    grid-area: topmid;
}

#user-stuff {
    grid-area: topright;
}

fieldset {
    border-radius: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.foreground {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "topleft topmid topright"
        "bottom bottom bottom";
}

#logo {
    grid-area: topleft;
    margin-left: 1em;
    margin-right: 1em;
}
#about-this-page {
    grid-area: topmid;
}
#user-stuff {
    grid-area: topright;
}

#accounts-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

#accounts-container>div{
    border: thin lightgray solid;
    border-radius: 1em;
    padding: 1em;
}

#accounts-container>div>form{
    display: grid;
    grid-template-columns: auto auto;
}

/* Make the submit button appear in the input column */
#accounts-container>div>form>button{
    grid-column: 2;
}

#logo {
    max-width: 100%;
}

a {
    color: aquamarine
}