body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
    color: lightgray;
    overflow-x: hidden;
}


#map-area {
    grid-area: bottom;
    display: grid;
    grid-template-areas: "left right";
}

span.image-id, span.start-time {
    grid-column: 1/3
}

input, select {
    position: relative;
    max-width: 100%;
}

#page-tools {
    display: grid;
    grid-template-columns: auto auto;
}

#page-tools form {
    display: grid;
    grid-template-columns: auto auto;
}

fieldset, form, .active-image-indicator {
    z-index: 10;
}

.active-image-indicator {
    text-shadow: black 0 0 10px;
}

.blinkfade.controls {
    display: none;
}

#signin-form {
    top: 10%;
}

#main-content {
    top: 10%;
    position: absolute;
    height: 90%;
}

#page-tools {
    grid-area: topmid;
}

#comparer-help{
    display: none;
}

#user-stuff{
    grid-area: topright;
}

fieldset {
    border-radius: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.foreground {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    grid-template-columns: auto minmax(min-content, 400px) minmax(min-content, 300px);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "topleft topmid topright"
        "bottom bottom bottom";
}

#logo {
    grid-area: topleft;
    margin: 1em;
    z-index: 10;
}

#logo img {
    max-width: 100%;
}

#about-this-page {
    grid-area: topmid;
}

#user-stuff {
    grid-area: topright;
}

#accounts-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.centered {
    display: grid;
    justify-content: center;
    align-items: start;
}

#accounts-container > div {
    border: thin lightgray solid;
    border-radius: 1em;
    padding: 1em;
    max-width: 40em;
}

/* Calcite likes to draw an outline around the map when you click it. We don't want that so do this: */
*::after {
    outline: none !important;
}

th {
    text-align: left;
}

a {
    color: aquamarine
}

#all-image-controls {
    grid-area: bottom;
    align-items: end;
    justify-items: center;
    grid-template-columns: auto auto;
    display: grid;
}

.image-controls {
    border: thin white solid;
    border-bottom: none;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    z-index: 20;
    background: black;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
}

#all-image-controls > div {
    display: grid;
    grid-template-columns: auto auto;
}

.active-image-indicator {
    font-size: xx-large;
    opacity: 0;
}

button.reset {
    grid-column: 2;
}

#user-stats, #guidelines, #background {
    max-width: 50em;
    grid-area: bottom;
    justify-self: center;
}

.icon {
    vertical-align: middle;
    height: 1.5em;
}

div#user-stuff {
    padding: 1em;
    position: relative;
    z-index: 10;
}

#user-stuff>div, #user-stuff>img {
    padding-bottom: 0.3em;
}

legend > h1 {
    margin: 0;
}

#comments {
    position: absolute;
    top: 40%;
    right: -2px;
    transform-origin: right;
    border: thin white solid;
    border-radius: 1em 0 0 1em;
    padding: 1em;
    max-width: 15em;
}

#comments.collapsed {
    right: 1em;
    transform: rotate(-90deg);
    transform-origin: right;
    border-radius: 1em 1em 0 0;
}

.collapsed > form {
    display: none;
}

#comments button {
    display: block;
}

#detections {
    position: absolute;
    top: 40%;
    left: -2px;
    transform-origin: right;
    border: thin white solid;
    border-radius: 0 1em 1em 0;
    padding: 1em;
    max-width: 15em;
}

#detections.collapsed {
    left: 1em;
    transform: rotate(90deg);
    transform-origin: left;
    border-radius: 1em 1em 0 0;
}

#detections.collapsed ul {
    display: none;
}

#detections, #comments {
    background: black;
}

#version-container {
    position: absolute;
}

#version {
    transform: rotate(90deg);
    position: absolute;
    transform-origin: left;
    left: 1em;
    white-space: nowrap;
}

#start-here{
    text-align: center;
}

#start-here img{
    height: 6em;
}

.loading{
    display: none;
}