<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoonDiff {% block extratitle %}{% endblock extratitle %}</title>
    {% block head %}
    {% endblock head %}
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<link rel="stylesheet" href="https://js.arcgis.com/next/esri/themes/light/main.css">
<link rel="stylesheet" href="/static/startwinkle.css">
<link rel="stylesheet" href="/static/moondiff.css">

<div class="background-container">
    <div class="stars"></div>
    <div class="twinkling"></div>
</div>

<div class="foreground">
    <img id="logo" src="/static/logo_light.png" >
{#   TODO <span id="flavor text">lunar time travel</span>#}
    <fieldset id="page-tools">
        <legend>Page tools ({% block subtitle %}{% endblock subtitle %})</legend>
        {% block page_tools %}{% endblock %}
    </fieldset>
    {% block call_to_action %}<span id="callToAction"></span>{% endblock call_to_action %}
    <fieldset id="user-stuff">
    <legend>User tools
            {% if user.is_authenticated %}
                ({{ user }}).</legend>
                <p><a href="{% url 'account_email' %}">Change E-mail</a></p>
                <p><a href="{% url 'account_logout' %}">Sign Out</a></p>
            {% else %}
                </legend>
                You are not logged in.
                <p><a href="{% url 'account_login' %}">Sign In</a></p>
                <p><a href="{% url 'account_signup' %}">Sign Up</a></p>
            {% endif %}
    </fieldset>

{% block content %}
    No content.
{% endblock content %}
{% block extra_body %}
{% endblock %}
</div>

{% if messages %}
    <div id="messages">
        <strong>Messages:</strong>
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

</body>
</html>