<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoonDiff</title>
    {% block head %}
    {% endblock head %}
    <link rel="stylesheet" href="/static/moondiff.css">
</head>
<body>
{% if user.is_authenticated %}
<header id="header">
    <h1><img id="logo" src="/static/logo.png" > {% block subtitle %}{% endblock subtitle %}</h1>
    {% block call_to_action %}<div id="callToAction"></div>{% endblock call_to_action %}
</header>
    {% block content %}
        No content.
    {% endblock content %}
{% else %}
    This alpha version of the app requires login for all features.
    Please register or sign in using the links to the right.
{% endif %}
<div id="user-stuff">
    <img src="/static/icons/profile.svg" width="20px"/>
    {% if user.is_authenticated %}
         {{ user }} | <a href={% url 'account_logout' %}?next={{request.get_full_path}}>logout</a>
    {% else %}
        <a href={% url 'account_login'%}?next={{request.get_full_path}}>log in</a> |
        <a href={% url 'account_signup'%}?next={{request.get_full_path}}>register</a>
    {% endif %}
</div>
</body>
</html>