{% extends 'base.html' %}
{% load static %}
{% block subtitle %}
    <span>front page</span>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'frontpage.css' %}">
    <div id="frontpage-links">

        <a href="{% url 'background-information' %}">
            <fieldset class="tile">
                <legend>Background information</legend>
                <div>
                    Objectives, methods, funding, previous work, and other information about the project.
                </div>
            </fieldset>
        </a>
        
        <a href="{% url 'select-pair-to-compare' %}">
            <fieldset class="tile">
                <legend>Compare lunar images</legend>
                <div>
                    Portal for citizen scientists to discover new craters and missing spacecraft hardware on the Moon by comparing old and new orbital imagery
                    <p id="start-here">
                        <img alt="start here" src="{% static 'start_here.png' %}">
                    </p>
                </div>
            </fieldset>
        </a>
        
        <a href="{% url 'select-example' %}">
            <fieldset class="tile">
                <legend>Examples</legend>
                <div>
                    Examples of lunar surface changes, and "red herrings" which look like changes but aren't.
                </div>
            </fieldset>
        </a>

        <a href="https://trek.nasa.gov/moon">
            <fieldset class="tile">
                <legend>NASA Moon Trek</legend>
                <div>
                    Our sister project Moon Trek
                </div>
            </fieldset>
        </a>

        <a href="{% url 'forum:index' %}">
            <fieldset class="tile">
                <legend>Community discussion forum</legend>
                <div>
                    Meet other moondiffers, scientists, and discuss the project.
                </div>
            </fieldset>
        </a>

        <a href="{% url 'guidelines' %}">
            <fieldset class="tile">
                <legend>Guidelines</legend>
                <div>
                    Our project principles, policies, and terms of use.
                </div>
            </fieldset>
        </a>
    </div>
{% endblock content %}
