{% extends "base.html" %}

{% load rest_framework %}

{% block subtitle %}
    reviewer
{% endblock subtitle %}

{% block call_to_action %}
    <div id="callToAction">Drag to look around. If you see a difference, click a few times to draw a polygon around it.</div>
{% endblock call_to_action %}

{% block head %}
<link rel="stylesheet" href="https://js.arcgis.com/next/esri/themes/light/main.css">
<link rel="stylesheet" href="/static/MicroModal.css">
<script src="https://js.arcgis.com/next/"></script>
{% endblock head %}


{% block page_tools %}
    <fieldset id="page-tools">
    <legend>Review detection {{ annotation.pk }}</legend>
    
    <form>
    <label class="controls" for="comparer-mode">Comparer:</label>
    <select id="comparer-mode" class="controls">
        <option value="sideBySide">Side-by-side</option>
        <option value="blinkFade">Blink / fade</option>
    </select>
    <label class="blinkfade controls" for="fader">Crossfade:</label>
    <input class="blinkfade controls" type="range" id="fader" name="fader" min="0" max="1" step="0.05" />
    <label class="blinkfade controls" for="blink-toggle">Blink:</label>
    <input class="blinkfade controls" type="checkbox" id="blink-toggle" name="blink-toggle" value="false" checked/>
    <label class="blinkfade controls" for="blink-speed-slider">Blink speed:</label>
    <input class="blinkfade controls" type="range" id="blink-speed-slider" name="blink-speed-slider" min="0" max="5" step="0.5" />
    </form>
    <form id="review-form" method="post">
        {% render_form review_serializer %}
        <button id="skip-button">Skip</button>
        <button id="submit">Submit</button>
        <input type="hidden" name="annotation_id" value="{{ annotation.pk }}">
        {% csrf_token %}
    </form>
    </fieldset>
{% endblock page_tools %}

{% block content %}
    <span class="loading">LOADING</span>
    <div id="map-area">
        <div id="left_mapview_container" ></div>
        <div id="right_mapview_container" ></div>
        <div class="left-title">{{ pair.old_image }}</div>
        <div class="right-title">{{ pair.new_image }}</div>
    </div>


    {{ annotations|json_script:"polylines" }}

    <script src="/static/maps.js"
            defer
            data-next-url = "{% url 'select-pair-to-compare' %}"
            data-annotation-post-url = "{% url 'annotation-list' %}"
            data-old-image-url="{{ pair.old_image.file_data.url }}"
            data-old-image-label="{{ pair.old_image }}"
            data-new-image-url="{{ pair.new_image.file_data.url }}"
            data-new-image-label="{{ pair.new_image }}"
    ></script>
{% endblock content %}

