{% extends "base.html" %}
{% load static %}
{% load rest_framework %}

{% block subtitle %}
    comparer
{% endblock subtitle %}

{% block call_to_action %}
    <div id="callToAction">Select an image pair from the left to see examples of confirmed Lunar surface changes. <span class="loading"> LOADING...</span></div>
{% endblock call_to_action %}

{% block head %}
    {% csrf_token %}
    <link rel="stylesheet" href="https://js.arcgis.com/4.27/esri/themes/light/main.css">
    <link rel="stylesheet" href="{% static 'MicroModal.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/shepherd.js@10.0.1/dist/js/shepherd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js@10.0.1/dist/css/shepherd.css"/>
    <script src="https://js.arcgis.com/4.27/"></script>
{% endblock head %}


{% block page_tools %}
    <fieldset id="page-tools">
        <legend>Compare images</legend>

    <label class="controls" for="comparer-mode">Comparer:</label>
    <select id="comparer-mode" class="controls">
        <option value="sideBySide">Side-by-side</option>
        <option value="blinkFade">Blink / fade</option>
    </select>
    <label class="blinkfade controls" for="fader">Crossfade:</label>
    <input class="blinkfade controls" type="range" id="fader" name="fader" min="0" max="1" step="0.05" />
    <label class="blinkfade controls" for="blink-toggle">Blink:</label>
    <input class="blinkfade controls" type="checkbox" id="blink-toggle" name="blink-toggle" value="false" checked/>
    <label class="blinkfade controls" for="blink-speed-slider">Blink speed:</label>
    <input class="blinkfade controls" type="range" id="blink-speed-slider" name="blink-speed-slider" min="0" max="5" step="0.5" />
    </fieldset>
{% endblock page_tools %}

{% block content %}
    <div id="map-area">
        <div id="left_mapview_container" ></div>
        <div id="right_mapview_container" ></div>
        {# example pair notes #}
        <div id="example-notes">
            <div id="example-notes-title">Change example: {{ object.name }} <div class="collapser">▲</div></div>
            <p>
                {{ object.coreg_notes }}
            </p>
        </div>
    </div>

    <div id="all-image-controls">
        {% include "core/brightness_contrast.html" with image=pair.old_image side="left" only %}
        {% include "core/brightness_contrast.html" with image=pair.new_image side="right" only %}
    </div>

    {% include "core/image_info_modal.html" %}

    {# examples #}
    <div id="examples">
        <div id="examples-title">Example list <div class="collapser">▲</div></div>
        <ul>
            {% for example_pair in object.pairset.pair_set.all %}
                <li>
                <a href="{{ example_pair.get_absolute_url }}">{{ example_pair }}</a>
                </li>
                {% empty %}
                No examples in the database.
            {% endfor %}
        </ul>
    </div>

    <script src="{% static 'examples.js' %}" ></script>
    
    {# Visit tracking #}
    <input type="hidden" id="visit_id" name="visit_id" value="{{ visit.pk }}">
    
    <script src="{% static 'brightness_contrast.js' %}"></script>
    {{ object.example_annotations|json_script:"polylines" }}
    
    <script src="{% static 'maps.js' %}"
            defer
            data-next-url = "{% url 'select-pair-to-compare' %}"
            data-annotation-post-url = "{% url 'annotation-list' %}"
            data-old-image-url="{{ pair.old_image.file_data.url }}"
            data-old-image-label="{{ pair.old_image }}"
            data-new-image-url="{{ pair.new_image.file_data.url }}"
            data-new-image-label="{{ pair.new_image }}"
    ></script>
    <script src="{% static 'img_info.js' %}" defer></script>
{% endblock content %}

