<div id="{{ side }}-image-controls" class="image-controls">
    <span class="image-id">{{ image }}</span>
    <label class="brightness controls {{ side }}" for="brightness-slider">Brightness:</label>
    <input class="brightness controls {{ side }}" type="range" id="brightness-slider" name="brightness-slider" min="0" max="1" step="0.05" />
    <label class="contrast controls {{ side }}" for="contrast-slider">Contrast:</label>
    <input class="contrast controls {{ side }}" type="range" id="contrast-slider" name="contrast-slider" min="0" max="1" step="0.05" />
    <label class="invert controls {{ side }}" for="invert-toggle">Invert:</label>
    <input class="invert controls {{ side }}" type="checkbox" id="invert-toggle" name="blink-toggle" value="false" checked/>
</div>