{% extends "base.html" %}

{% load rest_framework %}

{% block subtitle %}
    comparer
{% endblock subtitle %}

{% block call_to_action %}
    <div id="callToAction">Drag to look around. If you see a difference, click a few times to draw a polygon around it.</div>
{% endblock call_to_action %}

{% block head %}
    {% csrf_token %}
<link rel="stylesheet" href="https://js.arcgis.com/next/esri/themes/light/main.css">
<link rel="stylesheet" href="/static/MicroModal.css">
<script src="https://js.arcgis.com/next/"></script>
{% endblock head %}


{% block page_tools %}
    <fieldset id="page-tools">
        <legend>Compare images</legend>

    <label class="controls" for="comparer-mode">Comparer:</label>
    <select id="comparer-mode" class="controls">
        <option value="sideBySide">Side-by-side</option>
        <option value="blinkFade">Blink / fade</option>
    </select>
    <label class="blinkfade controls" for="fader">Crossfade:</label>
    <input class="blinkfade controls" type="range" id="fader" name="fader" min="0" max="1" step="0.05" />
    <label class="blinkfade controls" for="blink-toggle">Blink:</label>
    <input class="blinkfade controls" type="checkbox" id="blink-toggle" name="blink-toggle" value="false" checked/>
    <label class="blinkfade controls" for="blink-speed-slider">Blink speed:</label>
    <input class="blinkfade controls" type="range" id="blink-speed-slider" name="blink-speed-slider" min="0" max="5" step="0.5" />
    <button id="skip-button">Skip pair</button>
    <button id="done-button">Pair done</button>
    </fieldset>
{% endblock page_tools %}

{% block content %}
    <span class="loading">LOADING</span>
    <div id="map-area">
        <div id="left_mapview_container" ></div>
        <div id="right_mapview_container" ></div>
    </div>

    <div id="all-image-controls">
        {% include "core/image_display_controls.html" with image=pair.old_image side="left" only %}
        {% include "core/image_display_controls.html" with image=pair.new_image side="right" only %}
    </div>


    <div class="modal micromodal-slide" id="annotation-notes-modal" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-1-title">
                        Submit the change you found
                    </h2>
                    <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="modal-1-content">
                    Thanks for drawing a polygon that you think represents a difference between the two images! Please 
                    add a little extra information here about what you saw.
                    <p>
                        <form id="annotation-notes-form">
                            {% render_form annotation_serializer %}
                            <input type="hidden" name="pair_id" value="{{ object.pk }}">
                        </form>
                    </p>
                </main>
                <footer class="modal__footer">
                    <button id="annotation-notes-submit" class="modal__btn modal__btn-primary">Submit</button>
                    <button id="annotation-notes-close" class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
                </footer>
            </div>
        </div>
    </div>

    {{ annotations|json_script:"polylines" }}
    
    <script src="/static/maps.js"
            defer
            data-next-url = "{% url 'select-pair-to-compare' %}"
            data-annotation-post-url = "{% url 'annotation-list' %}"
            data-old-image-url="{{ pair.old_image.file_data.url }}"
            data-old-image-label="{{ pair.old_image }}"
            data-new-image-url="{{ pair.new_image.file_data.url }}"
            data-new-image-label="{{ pair.new_image }}"
    ></script>
{% endblock content %}

