{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://js.arcgis.com/next/esri/themes/light/main.css">
{% endblock head %}

{% block content %}
    <div id="leftmap" style="width: 50vw; height: 100vw; position: absolute; left: 0">{{ pair.old_image }}</div>
    <div id="rightmap" style="width: 50vw; height: 100vw; position: absolute; right: 0">{{ pair.new_image }}</div>
    {% load render_bundle from webpack_loader %}
    {% render_bundle 'main' %}
    <script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search)
    if (urlParams.get('comparer')=='blink') {
        console.log("Blink / fade mode not yet implemented")
    } else {
        // assuming we're in side-by-side mode
        const leftmap = makeTileMap('{{ pair.old_image.file_data.url }}', 'leftmap')
        const rightmap = makeTileMap('{{ pair.new_image.file_data.url }}', 'rightmap')
        console.log({leftmap:leftmap, rightmap:rightmap})
    }
    </script>
{% endblock content %}
